<div class = "post-centered-content">
  <mat-card>
    <form [formGroup]="form" (submit)="onNewList()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Post Title">
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" [routerLink]="['/']">Cancel</button>
      <button  class="form-button" mat-raised-button color="accent" type="submit">Save List</button>
    </form>
  </mat-card>
</div>

