<div class = "post-centered-content">
  <mat-card>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Post Title">
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea  matInput formControlName="content" placeholder="Post Content"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter the post content.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="price" placeholder="Price">
        <mat-error *ngIf="form.get('price').invalid">Please enter an estimated price.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="imageLink" placeholder="image link">
        <mat-error *ngIf="form.get('imageLink').invalid">Please enter a valid image link.</mat-error>
      </mat-form-field>
      <button  mat-raised-button color="accent" [routerLink]="['/lists', selectedListId]">Cancel</button>
      <button class="form-button" mat-raised-button color="accent" type="submit">Save Post</button>
    </form>
  </mat-card>
</div>
